MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/citymap
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=citymap_unsigned
NEXTAUTH_SECRET=your-random-secret
NEXTAUTH_URL=http://localhost:3000
